body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #d0f0ec, #f2fff9);
    height: 100vh;
}

.login-container {
    height: 100vh;
    padding: 20px;
    background: linear-gradient(135deg, #e0f7f1, #fefefe);
}

.login-card {
    max-width: 400px;
    width: 100%;
    border-radius: 15px;
    background-color: white;
}
